/*Normalize*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*General*/


body {
  font-family: 'Old Standard TT', serif;
  background-color: #152744;
  color: white;
  margin:0px;
  border: .15em solid rgba(232, 212, 60, 1);
  font-size: 15px;
}

@media (min-width: 32em) {
  body {
    font-size: 1.2em;
  }
}

@media (min-width:40em) {
  body {
    border: .22em solid rgba(232, 212, 60, 1);
  }
}

a {
  color: rgba(232, 212, 60, 1);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1,h2,h3 {
  color: rgba(232, 212, 60, 1);
}

h2 {
  font-size: 2em;
  margin: .6em .3em .6em .3em;
}

h4 {
  font-size: 1.25em;
}


/*Nav*/

nav ul {
  display: flex;
  flex-direction: row;
  background-color: black;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.logo {
  max-width: 10em;
}

/*Header*/

header {
  background-color: black;
}

header img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

/*Connect*/

#connect ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

#connect ul li {
  margin: 0 .7em;
}


/*Upcoming Shows*/

article {
  margin-top: 2em;
  margin-bottom: 2em;
}

article:last-of-type {
  margin-bottom: 3em;
}

.upcoming-shows li {
  background-color: rgba(232, 212, 60, 0.25);
  padding: .5em;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.upcoming-shows li h4, .upcoming-shows li p {
  margin: 0 .7em;
}

/*Footer*/

footer {
  background-color: black
}

footer img {
  max-width: 10em;
  display: block;
  margin: 0 auto;
}
