@font-face {
    font-family: 'old_standard_bold';
    src: url('fonts/Old_Standard_TT/oldstandard-bold-webfont.woff2') format('woff2'),
         url('fonts/Old_Standard_TT/oldstandard-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'old_standard_italic';
    src: url('fonts/Old_Standard_TT/oldstandard-italic-webfont.woff2') format('woff2'),
         url('fonts/Old_Standard_TT/oldstandard-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'old_standard_regular';
    src: url('fonts/Old_Standard_TT/oldstandard-regular-webfont.woff2') format('woff2'),
         url('fonts/Old_Standard_TT/oldstandard-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
