@import 'normalize';


// Vars

$jimmyGold: rgba(232, 212, 60, 1);
$jimmyDeepBlue: #152744;
$OldStandardBold:'old_standard_bold';

/*Fonts*/

@import 'type';

/*General*/


body {
  font-family: 'old_standard_regular', serif;
  background-color: $jimmyDeepBlue;
  color: white;
  margin:0px;
  border: .15em solid $jimmyGold;
  font-size: 15px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
	transition: all 0.5s ease-out;
}

@media (min-width: 32em) {
  body {
    font-size: 17px;
  }
}

@media (min-width:45em) {
  body {
    border: .22em solid $jimmyGold;
  }
}

@media (min-width:60em) {
  body {
      border: .25em solid $jimmyGold;
  }
}

a {
  color: $jimmyGold;
  text-decoration: none;
}

h1,h2,h3,h4 {
	font-family: $OldStandardBold, serif;
  color: $jimmyGold;
}

h2 {
  font-size: 2em;
  margin: .6em .3em .6em .3em;
}

h3 {
  font-size: 1.5em;
  margin: .3em 0;

}

h4 {
  font-size: 1.25em;
  margin: .3em 0;
}


/*Nav*/

@import 'nav';

/*Header*/

@import 'header';

/*Connect*/

@import 'connect';

/*Upcoming Shows*/

@import 'shows';

/*Music*/

@import 'music';

/*Footer*/

@import 'footer';
